.home-container{
    height: 350px;
    width: 100vw;
    color: #c7d4e5;
}

.home-content h1{
    padding: 5px;
    padding-top: 70px;
    padding-bottom: 2px;
    margin-left: 120px;
    color: #323e4f;
}

.intro{
    width: 50vw;
}

.home-content p{
    margin-left: 122px;
    padding-left: 5px;
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
    color: rgb(217, 129, 21);
}

.my-img{
    justify-items: center;
    margin-top: 35px;
}

.my-img img{
    height: 300px;
    width: 50%;
    display: flex;
    background: #c7d4e5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 10px -10px;    
    border-bottom: 8px;
    
    position: relative;
}

.home-btns{
    margin-left: 125px;
}

.home-btns .btn-hire {
    background-color: #c7d4e5;
    color: #323e4f;
    border-color: #323e4f;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home-btns .btn-hire:hover {
    background-color: #323e4f;
    color: #c7d4e5;
}

.home-btns .btn-cv{
    background-color: rgb(217, 129, 21);
    color: #323e4f;
    border-color: #323e4f;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 15px;
}

.home-btns .btn-cv:hover{
    background-color: #323e4f;
    color: #c7d4e5;
}

@media(max-width:600px){
    .home-container{
        padding: 0;
        margin: 0;
        width: 100vw;
        margin-top: 20px;
        height: max-content;
    }

    .home-text{
        padding: 0;
        margin: 0;
        width: 90vw;
        margin-left: 5vw;
    }
    .home-container h1{
        margin: 0;
        font-size: 24px;
    }
    .home-container p{
        margin: 0;
        width: 87vw;
        font-size: 14px;
    }

    .my-img{
        padding:0;
        width: 90%;
    }
    .my-img img{
        height: 200px;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 10px -10px;
    }
    .home-btns{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }
}
