.about{
    margin: 0px 0px;
    padding: 50px;
    padding-left: 200px;
    background-color: #c7d4e5;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.about-img{
justify-items: center;
}

.about-img img{
    height: 400px;
    width: 80%;
    display: flex;
    border-radius: 100px;
    box-shadow: 0 4px 15px;
}

.about-content{
    display: flex;
    flex-direction: column;
}

.about-content h1{
    color: #323e4f;
    text-align: center;
}

.about-content p{
    text-align: justify;
}